<div class="">
    <h1>New course</h1>
    <form action="/courses/store" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <select name="level" id="level" class="form-control">
                <option value="Beginner">Beginner</option>
                <option value="Standard">Standard</option>
                {{!-- <option value="Inmediate">Beginner</option> --}}
            </select>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" id="category" class="form-control">
                {{#each categories}}
                    <h1>{{_id}}</h1>
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" name="videoId" id="videoId" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg" type="submit">Submit</button>
        </div>
    </form>
</div>
