<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-auto">
      
      <form class="form-inline my-2 my-lg-0" action="/search">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
</header>