<div class="">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Keyword</label>
            <input aria-label="Search" type="search" name="q" class="form-control" aria-describedby="kwHelp" placeholder="Enter keyword">
            <small id="kwHelp" class="form-text text-muted">Enter the keyword</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>